.content{
    display: flex;

    #summary{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        div{
            width: 258px;
            height: 263px;
            background: gray;
        }
    }
}